/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px LatoRegular, Arial, clean, sans-serif;
  *font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: LatoRegular, monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: center;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  font-family: AngelinaRegular,sans;
  font-size: 255%;
  color: #a00;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.subheading {
    font-family: AngelinaRegular,sans-serif;
    text-decoration: underline;
    font-size: 160%;
    color: #524312;
    font-weight: normal;
    margin-bottom: 4em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: center;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {      
    border: 1px dashed #8cacbb;
    background-color: #f7f9fa;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {      
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related { 
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }


  /* My Addition */
  /* Widgets */

.widget {
    border: 1px black;
    text-align: left;
    text-decoration: underline;
    font-family: LatoLight,sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 2em;
}

.textwidget {
    font-family: LatoLight,sans-serif;    
    text-align: left;
    font-size: 125%;
    font-weight: normal;
    padding-left: 3em;
    border: 1px solid black;
}


/* Post Related */

.posteddate {
    font-family: LatoItalic,sans-serif;
    font-size: 50%;
    font-style: italic;
    color: #808080;    
    text-align: right;
    margin-bottom: 2em;
}


.postheading {
    font-family: LatoLight,sans-serif;
    font-size: 140%;
    color: #753321;
    font-weight: bold;
    padding-bottom: 1em;
}

.postbody {
    font-family: LatoRegular,sans-serif;
    font-size: 15px;
    font-weight: normal;
}


/* From Aravinda http://aravindavk.in */
.main-menu-item{
    display:block;
    text-decoration:none;
    color:#006699;
    padding-right:20px;
    height:26px;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    background:url(/images/selected.png) no-repeat -15px 0px;
    margin-left:-10px;
    padding-left:15px;
    font-size:15px;
    font-family:LatoRegular, sans-serif, arial;
    
}
.main-menu-item:hover{
    color:#000;
    background:url(/images/selected.png) no-repeat 0px 7px;
}
.main-menu-item-selected{
    background:url(/images/selected.png) no-repeat 0px 7px;
    color:#000;
}

blockquote{
    margin:10px 0 20px 30px;
    font-family: LatoItalic,sans-serif;
    color:#777;
    border-left:5px #aaaaab;
    padding:15px;
}

/* Charlipark's */
.meta_wrapper{
    border:1px solid #C9C6C3;
    border-width:1px 0;
    color:#666;
    font-size:12px;
    line-height:20px;
    margin:0 0 20px;
    padding:1px 0;
    text-transform:uppercase}

ul.tags li{
    border-left:1px solid #ccc;
    display:inline;
    list-style:none;
    margin:0;
    padding:0 8px;
    position:relative;
}
ul.tags li:first-child{
    border:0;
    padding-left:0
}
ul ul li{
    list-style:circle;
}

li.archive_list{
    list-style:none;
    margin:0;
    padding-bottom:10px;
}
li.inline{
    display:inline
}
li.nav_list_item{
    display:inline-block;
    font-size:18px;
    margin:0;
    position:relative;
    width:90px;
}
li.tag_list_item{
    line-height:1;
    list-style:none;
    margin:0;
}

a.tag_list_link{
    border-left: 1px solid #ccc;
    color:#888;
    font-size:14px;
    font-variant:small-caps;
    margin:0;
    padding: 0 6px;
    text-transform:lowercase;
}
a.tag_list_link:first-child{
    border:0
}
a.tag_list_link:hover{
    color:#444;
}

/* My addings */
pre {
    background-color: #f7f9fa;
    border: 1px dashed #8cacbb;
    font-style: italic;
    font-family: LatoLight,sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

ol {
    margin-left: 30px;
}

img.post {
    box-shadow: 2px 2px 5px 0px rgb(0,0,0);
    margin: 0px;
    border-radius: 10px 10px 10px 10px;
}