---

layout: default
title: Random Ramblings

---

<div id="home">

  <ul class="posts">
    {% for post in site.posts limit: 4 %}
      {% capture post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
      <div class="postheading"><a class="glyph-permalink" href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">{{ post.title }} </a></div>
      <div class="postbody">
        {{ post.content }}
      </div>
      <div class="posteddate">Posted by: copyninja on {{ post.date | date:"%A, %e %B %Y" }}</div>
    {% if forloop.last == false %}
    <br/>
    <br/>
    {% endif %}
    {% endfor %}
  </ul>

</div>

