<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Vasudev Kamath" />

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css" type="text/css"/>

    <!-- 1140 Grid CSS -->
    <link media="screen" rel="stylesheet" href="css/1140.css" type="text/css"/>

    <!-- styles.css -->
    <link media="screen" rel="stylesheet" href="css/styles.css" type="text/css"/>

    <!-- 1140 Grid CSS related javascript -->
    <script src="js/css3-mediaqueries.js" type="text/javascript"></script>

    
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="css/emacs.css" type="text/css" />

    <!-- Webfont url -->
    <link rel="stylesheet" href="fonts/stylesheet-bitstream.css" type="text/css"/>
    <link rel="stylesheet" href="fonts/stylesheet-angelina.css" type="text/css"/>

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />

  </head>
  <body>

    <div class="container header">
      <div class="row">
        <div class="site">
          <div class="title">
            <a href="/">Random Ramblings</a>
          </div>
          <div class="subheading">
            Random thoughts shooting out of volatile mind
          </div>
        </div>
      </div>
    </div>
    <div class="container details">
      <div class="row">
        <div class="eightcol">
          {{ content }}
        </div>
        <div class="fourcol last">
          <div class="widget">
            Connect to me on Friendica
            <script src="http://frndk.de/widgets/friends?k=37533857"></script>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer">
      <div class="site">
        <div class="row">
          <div class="footer">
            <div class="contact">
              <p>
                (c) 2012 Vasudeva Kamath<br />
                The contents of this site are shared under <a href="http://creativecommons.org/licenses/by-sa/3.0/" class="contact">CC-BY-SA-3.0 Unported</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="http://github.com/copyninja"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  </body>
</html>


